@import './settings.scss';

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container{
    margin: $small 10vw; 
}

button{
    background: none;
    border:0px;
    outline: 0px;
    cursor: pointer;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.fixed-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.form-control{
    width: 100%;
    padding: $small;
    font-size: medium;
    border-radius: 0.2rem;
    border: 0.5px solid #d3d3d3;
    color: $dark;
}

.form-control:focus{
    outline: $yellow-reng solid 2px;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 5px $yellow-reng;


}


.form-group{
    margin: $large auto;
    position: relative;
    .form-control{
        margin-top: 0.2rem;
    }

    .fa-eye,.fa-eye-slash{
        position: absolute;
        right:0px;
        color: #d3d3d3;
        top: 2.1rem;
        cursor: pointer;
    }
    .fa-eye:hover,
    .fa-eye-slash:hover{
        color: $dark;
    }

    
}


.btn{
    margin: $small;
    padding: $small $medium;
    cursor: pointer;
    font-size: 0.95rem;

}

.btn.btn-primary{
    background-color: $yellow-reng;
    border:0px !important;
    border-radius: 0.3rem;
    color: $dark;
    outline: none;
}

.btn.btn-primary:active{
    box-shadow: -1px 1px 4px $yellow-reng;
    background-color: darken($color: $yellow-reng, $amount: 5);

}


.light-box_container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba($color: $dark, $alpha: 0.5);

    .light-box{
        background-color: white;
        width: 80vw;
        height: 70vh;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 1rem;
        box-shadow: 0px 0px 8px lighten($color: $dark, $amount: 30);
        padding: 1rem;
        @extend .flex-column;


        .light-box_header{
            border-bottom: 0.5px solid lightgray;
        }

        .light-box_body{
            @extend .flex-column;
            margin-top: 1rem;
            height: 100%;
        }

        .light-box_close{
            position: absolute;
            right:0px;
            top: 0px;
            font-size: 1.5rem;
            margin: 0.5rem;
        }

    }
}




.flex-column {
    display: flex;
    flex-direction: column;
}


ul{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 480px){
    .container{
        margin: $small 5vw; 
    }
    
    .mobile-column{
        flex-direction: column !important;
    }
}