#workouts.topcategories{
    display: flex;
    overflow-x: auto;
}


#navigation_site .route{
    display: flex !important; 
    height: 70px;
    cursor: pointer;
    .panel-headline{
        flex: 2 ;
    }
    .cover{
        flex: 1;
    }


}

#navigation_site{
    .panel-headline{
        flex: 3 1;
    }

    .cover img{
        height: 100%;
    }

    .cover .cha{
        float: right;
    }
}


#categories{
    .panel {
        float: left;
        width: 24%;
        height: 35%;
        margin: 0.5%;
        cursor: pointer;
    }

    .panel:hover{
        background-color: #FF7C2E;
        color: white;
    }
}
@media (max-width: 985px){
    #categories .panel{
        width: 32%;
    }
}


@media (max-width: 865px){
    #categories .panel{
        width: 49%;
    }
}

#navigation_site .route:hover{
    background-color: gainsboro;
}

#navigation_site .route.active{
    background-color: #FF7C2E;
    color: white;
}



@media only screen and (max-width: 600px){
    #navigation_site .route{
        flex-direction: column;
        height: 180px;

        .panel-headline{
            flex: 1;
        }
        .cover{
            flex: 2;
        }
    }

    #navigation_site{
        .cover img{
            width: 100%;
            height: auto;
        }

        .cover .cha{
            position: absolute;
            bottom: 0px;
        }
    }
    
    
}


/* width */
.nav-tabs::-webkit-scrollbar, .topcategories::-webkit-scrollbar {
    width: 5px;
    height: 5px;

  }
  
  /* Track */
  .nav-tabs::-webkit-scrollbar-track, .topcategories::-webkit-scrollbar-track {
    background: unset;
  }
  
  /* Handle */
  .nav-tabs::-webkit-scrollbar-thumb, .topcategories::-webkit-scrollbar-thumb {
    background: #FF7C2E;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .nav-tabs::-webkit-scrollbar-thumb:hover, .topcategories::-webkit-scrollbar-thumb:hover {
    background: #FF7C2E;
  }
  