@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body{
  margin: auto 0;
  height: 100vh;
  flex-direction: row;
  display: flex;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  overflow: hidden;
}

section{
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  
  .float-button{
    position: absolute;
    z-index: 100;
  }

  #player{
    width: 100% !important;
    height: 100% !important;
  }
  #cover{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
  }
  
}
#btns{
  width: 100%;
  position: absolute;
  top:0px;
  background-color: #e3e3e3;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  z-index: 9999;
  height: 45px;
  transition: all 0.2s;
  .dropdown-toggle{
    font-weight: bolder;
    background-color: #2e2e2e;
    line-height: unset;
    color: white !important;
    height: 100%;
  }

  .stream-control{
    border-radius: 50%;
    overflow: hidden;
    /* background-color: #f1f3f4; */
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    outline: none !important;
    border: 0px;
    background-color: #eb0000;
    color: white;
    margin: 0.5rem 0.25rem;
    transition: all 0.5s;
  }
  
  .stream-control:hover{
    /* background-color: #e6e6e6; */
    background-color: #c20202;
  
  }
  
  .stream-control.muted{
    background-color: #f1f3f4;
    color: grey;
  }
  
  .stream-control.muted:hover{
    background-color: #eaeaea;
  }
  .navbar-right .dropdown-menu{
  }

}





#participent-list-container{
  width: 25vw;
  position: absolute;
  background-color: #2e2e2e;
  transition: all 0.8s;
  z-index: 9999;
  top:0px;
  opacity: 0.6;
  border-radius: 5px;
  box-shadow: 1px 1px 10px grey;
  padding: 2px;

  button{
    background-color: #FF7C2E;
    color:white;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    transform: scale(0.7);
    z-index: 1000;
  }

  button:active{
    background-color: #eb4034;
  }

  #participents-list{
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-left: 0;

    .participent-card{
      border-radius: 3px;
      margin: 0 auto;

      .media-box{
        line-height: 0rem;
      }
    }
  }
}


#participent-list-container:hover{
  opacity: 1;
}


/* width */
#participents-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#participents-list::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* Handle */
#participents-list::-webkit-scrollbar-thumb {
  background: #FF7C2E;
}

/* Handle on hover */
#participents-list::-webkit-scrollbar-thumb:hover {
  background: #FF7C2E;
}


.participent-card video{
  width: 100%;
}

#main-page{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
}

#main-page,#btns{
  width: 100%;
  /* margin: 25px; */
}
#ParticipentList0{
  #participent-list-container{
    opacity: 1 !important;
  }
}


#progress-bar{
  position: relative;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  z-index: 1000;
  box-shadow: 1px 1px 5px grey;
  background-color: rgba($color: #fff, $alpha: 0.2);
  #timeleft{
    text-align: center;
    color: white;

  }
  
  
}




nav.close_2 #toggle-nav{
  transform: rotate(180deg);
}
#toggle-nav{
  background-color: transparent;
  color:#FF7C2E;
  font-size: 1.8rem;
  position: absolute;
  right: 0px;
  border: 0px;
  margin: 0.5rem;
  cursor: pointer;
  outline: none !important;
  transition: all 0.5s;
}

#global-message{
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.5rem;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.5);
  opacity: 0;
  transition: all 0.5s;
  height: 0px;
  overflow: hidden;
  color: white;
  z-index: 10000;
}

#global-message.show{
  opacity: 1;
  height: auto;
}




#prais-message{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  display: none;
  font-family: 'Kalam', cursive;
}

#prais-message.random2{
  color: #4b5da3;
  text-shadow: -1px 0 #ffee00, 0 1px white, 1px 0 white, 0 -1px #ffee00;
}

#prais-message.random3{
  color: #ffee00;
  text-shadow: -1px 0 #4b5da3, 0 1px white, 1px 0 white, 0 -1px #4b5da3;
}

#prais-message.random4{
  color: #ff1100;
  text-shadow: -1px 0 #ffee00, 0 1px white, 1px 0 white, 0 -1px #ffee00;
}

#prais-message.random5{
  color: #ff00cc;
  text-shadow: -1px 0 #b3007d, 0 1px white, 1px 0 white, 0 -1px #b3007d;
}

#prais-message.random6{
  color: #00fbff;
  text-shadow: -1px 0 #063a94, 0 1px white, 1px 0 white, 0 -1px #063a94;
}

#prais-message.random1{
  color: #00fbff;
  text-shadow: -1px 0 #b3007d, 0 1px white, 1px 0 white, 0 -1px #b3007d;
}

#prais-message.random7{
  color: #b3007d;
  text-shadow: -1px 0 #ffee00, 0 1px white, 1px 0 white, 0 -1px #ffee00;
}



#prais-message.active{
  opacity: 0;
  display: inline-block;
  animation-name: show_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#parise-button {
  margin: auto;
  background: none;
  border: 0;
  outline: none;
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  transform: rotate(-1deg);
  color: white;
  font-family: 'Kalam', cursive;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: relative;
  bottom: 1rem;
}

#parise-button span{
  top: 5%;
  left:-2rem;
  position: absolute;
  color: #4b5da3;
  font-size:2rem;
  line-height: 1.5rem;
  text-shadow: -1px 0 #ffee00, 0 1px white, 1px 0 white, 0 -1px #ffee00;
}
#parise-button img{
  position: absolute;
  top: 20%;
  right:-1rem;
  color: #4b5da3;
  transform: scale(1.3) rotate(5deg);

}
#parise-button:hover{
  transform: rotate(-2deg);
}
#parise-button:active{
  transform: rotate(-5deg) scale(0.95);
}


#parise-button img{
  height: 3rem;

}

.darggable{
  cursor: pointer;
  transform: translate(0px,0px) !important;
}

@keyframes botton {
  from {display: none; opacity: 0;}
  to {display: inline-block; opacity: 1;}
}


@keyframes show_animation {
  from {opacity: 0; top: 70%;transform: scale(1);}
  to {opacity: 1; top: 50%;transform: scale(5);}
}

@media (orientation: portrait) {
  .landscape {
    display: inline-block;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);    
      height: 50%;
      width: 50%;
    }
  }


  .portrait{
    display: none;
  }
}


@media (orientation: landscape) {
  .landscape {
    display: none;

  }

  .portrait{
    display: inline-block;
  }

}


@keyframes audio1 {
  0%,
  100% {
     box-shadow: 0 0 0 0.4em rgba(38, 166, 154, 0.4);
  }
  25% {
     box-shadow: 0 0 0 0.15em rgba(38, 166, 154, 0.15);
  }
  50% {
     box-shadow: 0 0 0 0.55em rgba(38, 166, 154, 0.55);
  }
  75% {
     box-shadow: 0 0 0 0.25em rgba(38, 166, 154, 0.25);
  }
}

@keyframes audio2 {
  0%,
  100% {
     box-shadow: 0 0 0 0.25em rgba(38, 166, 154, 0.15);
  }
  25% {
     box-shadow: 0 0 0 0.4em rgba(38, 166, 154, 0.3);
  }
  50% {
     box-shadow: 0 0 0 0.15em rgba(38, 166, 154, 0.05);
  }
  75% {
     box-shadow: 0 0 0 0.55em rgba(38, 166, 154, 0.45);
  }
}



#suggest_video{
  position: fixed;
  z-index: 99999;
  width: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0);
  bottom: 0px;
  animation: 1s ease-out 0s 1 slideInFromLeft;

  .panel{
    float: unset;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button{
    margin: 10px;
  }
}


#share_workout{
  position: fixed;
  z-index: 99999;
  width: 50%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  bottom: 0px;
  animation: 1s ease-out 0s 1 slideInFromLeft2;

  i:active{
    color: #FF7C2E;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  button{
    margin: 10px;
  }
  .alert{
    padding: 0.8rem !important;
  }
}



@keyframes slideInFromLeft {
  0% {
      // transform: translate(-50%,100%);
      bottom: -100%;
      opacity: 0;
  }
  100% {
      // transform: translate(-50%,0);
      bottom: 0%;
      opacity: 1;
  }
}


@keyframes slideInFromLeft2 {
  0% {
      // transform: translate(-50%,100%);
      bottom: -50%;
      opacity: 0;
  }
  100% {
      // transform: translate(-50%,0);
      bottom: 0%;
      opacity: 1;
  }
}




@media (max-width: 660px){
  #btns{

    .navbar-nav{
      margin: 0px;
    }


    .dropdown-toggle{
      line-height: 25px;
    }

    .dropdown-menu{
      background: white;
      border-radius: 5px;
      position: absolute;
      left: -6.2vw;
    }
  }

  #share_workout,#suggest_video{
    z-index: 99999;
    top: 25%;
    font-size: 1.2rem;
    padding: 1rem;
    transform: translate(-50%,-25%);
  }  
}